.sidebar {
  width: 20%;
  background-color: #f9fafb;
  padding: 20px;
  font-weight: 500;
}

.list {
  padding-top: 30px;
  padding-left: 10px;
}

.resource {
  margin-bottom: 10px;
}

.active {
  background-color: #e9e6fb;
}
