.sidebar {
  width: 20%;
  background-color: #f9fafb;
  padding: 20px;
  font-weight: 500;
}

.list {
  padding-top: 30px;
}

.resource {
  padding: 5px;
  margin: 5px 0px;
}

.active {
  background-color: #e9e6fb;
  border: 1px solid #d9d2fc;
  border-radius: 5px;
}
